<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.ionictest899213" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Film exif</name>
    <description>
        For those who study photography or simply enjoy using film camera. App is for taking record of picture parameters like aperture and shutter time.
    </description>
    <author email="justinas@kabasinskas.lt" href="http://justinas.kabasinskas.lt">
      Justinas Kabasinskas
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <icon height="72" src="icons/android/drawable-hdpi/ic_launcher.png" width="72" />
        <icon height="36" src="icons/android/drawable-ldpi/ic_launcher.png" width="36" />
        <icon height="48" src="icons/android/drawable-mdpi/ic_launcher.png" width="48" />
        <icon height="96" src="icons/android/drawable-xhdpi/ic_launcher.png" width="96" />
        <icon height="144" src="icons/android/drawable-xxhdpi/ic_launcher.png" width="144" />
        <icon height="192" src="icons/android/drawable-xxxhdpi/ic_launcher.png" width="192" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
</widget>
